// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  padding: 50px;
}

.container.game {
  width: 95%;
  max-width: 580px;
}

.input-group.auto-width {
  width: auto;
}

.used {
  font-weight: bolder;
  color: #007bff;
}